# Build files
build/*
xcode/*

# Helper files
DATA/*
LOGS/*
TESTING
EXPERIMENT_LOGS

# Development
.vscode
.editorconfig
.clang-format
.gitignore

# OS-specific
.DS_Store

# Documentation
README.md
Doxyfile
docs/*
html
latex

# Docker
.dockerignore
Dockerfile
