# Build files
build/*
xcode/*
scripts/cpp/build/*
scripts/slurm

# Helper files
DATA/*
LOGS/*
TESTING
EXPERIMENT_LOGS
mulisse_pack

# Development
.vscode
.editorconfig
.clang-format
.gitignore

# OS-specific
.DS_Store

# Documentation
README.md
Doxyfile
docs/*
html
latex

# Docker
.dockerignore
Dockerfile
