# Build files
build/*
**/build/*
xcode/*

# Helper files
DATA/*
LOGS/*
scripts/local/*
local_settings.json
scripts/run_configs/*
!scripts/run_configs/default_config.json

# Development
.vscode
.editorconfig
__pycache__

# OS-specific
.DS_Store

# Doxygen
docs/mulisse_src/*
html
latex

