# Build files
build/*
buildRelease/*
buildDebug/*
**/build/*
xcode/*

# Helper files
mulisse_pack
DATA/*
DATA_*
LOGS/*
LOGS_*
EXPERIMENT_LOGS/*
!EXPERIMENT_LOGS/ARCHIVE
!EXPERIMENT_LOGS/ARCHIVE/*
**/local/*
local_settings.json

# Development
.vscode
.editorconfig
__pycache__
.mypy_cache

# OS-specific
.DS_Store

# Doxygen
docs/mulisse_src/*
docs/calculation/*
!docs/calculation/*.tex
html
latex

# Other documents
docs/summaries/*
!docs/summaries/*.md
!docs/summaries/images
