# Build files
build/*
**/build/*
xcode/*

# Helper files
DATA/*
LOGS/*
LOGS_*
EXPERIMENT_LOGS/*
!EXPERIMENT_LOGS/*.zip
**/local/*
local_settings.json

# Development
.vscode
.editorconfig
__pycache__
.mypy_cache

# OS-specific
.DS_Store

# Doxygen
docs/mulisse_src/*
html
latex

